.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
/* p{
    font-size:40px;
    border: bottom 20px;
    border-color: black;
    color: rgb(13, 2, 73);



} */
.post {
    width: 300px;
    margin: 0px 25px 40px 25px;
    padding:0px 30px;
    
    flex-direction: column;
  }
  .ai{
    color: red;
    height:200px;
    width:200px;
  
  }
  .postImg {
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 7px;
  }
  
  .postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .postedit {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2008f0;
    /* width:10px;
    height:10px; */
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
  
  }
  
  .postdelete {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #d41717;
    /* width:10px;
    height:10px; */
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
  
  }
  
  
  .postTitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    margin-top: 15px;
  }
  
  .postDesc {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #444444;
    margin-top: 15px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 4; */
    /* -webkit-box-orient: vertical; */
  }
  #read{
    color:green;}

.popup{
  position: absolute;
  margin-top:-60%;
  margin-left:-350px;


}
#pi{
  background-color: white;
  
}
@media screen and (max-width:600px) {

  #post {
    width: 250px;
    margin: 0px 25px 40px 25px;
    padding:0px 30px;
    
    flex-direction: column;
  }
  #posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left:-250px;
}
.postImg {
  width: 200px;
  height: 100px;

}

}



